h3 {
  color: green;
  text-transform: uppercase;
  font-size: 2rem;
}

input {
  height: 40px;
}

.cakes {
  display: flex;

  .cake {
    gap: 10px;
    width: 25%;

    button {
      margin-bottom: 1rem;
    }
  }
}

button {
  cursor: pointer;
}
