<h3>Yummy Cakes</h3>
<!-- toggle cakes on click -->
<!-- <button (click)="toggleCakes()">Load cakes</button> -->

<!-- change btn text -->
<!-- <button (click)="toggleCakes()">
  <ng-container *ngIf="isShown">Hide cakes</ng-container>
  <ng-container *ngIf="!isShown">Load cakes</ng-container>
</button>
<br /> -->

<ul *ngIf="isShown" class="cakes">
  <ng-container *ngFor="let cake of cakes">
    <li class="cake">
      <img class="img" [src]="cake.img" [alt]="cake.name">
      <p class="title">{{ cake.baker }}</p>
      <p class="currency">{{ cake.amount | currency:'XAF' }}</p>
      <button>Add to cart</button>
    </li>
  </ng-container>
</ul>