<h3>Yummy Cakes</h3>
<!-- toggle cakes on click -->
<!-- <button (click)="toggleCakes()">Load cakes</button> -->

<!-- change btn text -->
<button (click)="toggleCakes()">
  <ng-container *ngIf="isShown">Hide cakes</ng-container>
  <ng-container *ngIf="!isShown">Load cakes</ng-container>
</button>
<br />

<br>
<ul *ngIf="isShown">
  <ng-container *ngFor="let cake of cakes">
    <li><img [src]="cake.img" [alt]="cake.name">{{ cake.baker }}</li>
    <p>{{ cake.amount | currency:'XAF' }}</p>
  </ng-container>
</ul>